<div class="large-page-title">
	<h1>{{ page.title }}</h1>
</div>
<blockquote>
	The fact is that the world is out of everyone's expectation. But some learn to forget, but others insist. 
</blockquote>
Beginman, a pythoner who like programming,read,and coffee.
<hr>
<p>More :</p>
<p>douban:<a href="http://www.douban.com/people/70526937/">http://www.douban.com/people/70526937/</a> </p>
<p>cnblogs:<a href="http://www.cnblogs.com/BeginMan/">http://www.cnblogs.com/BeginMan/</a></p>
<p>fackbook:<a href="http://facebook.com/BeginMan">http://facebook.com/BeginMan</a></p>